<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.boot.mapper">

<!-- 전체데이터 출력 : service 사용  -->
<select id="alldata" resultType="kr.co.boot.membership_DTO">
	SELECT * FROM MEMBERSHIP
</select>

<!-- 하나의 데이터만 출력 : service 안사용 -->
<select id="onedata" resultType="kr.co.boot.membership_DTO">
	SELECT * FROM MEMBERSHIP WHERE MID = #{MID}
</select>

<!-- 회원가입 -->
<insert id="save_member" parameterType="kr.co.boot.membership_DTO">
	INSERT INTO MEMBERSHIP VALUES (MNO.NEXTVAL, #{MCODE}, #{MID},#{MNAME},#{MNICK},#{MPASS}, #{MEMAIL},#{MHP},#{MJOIN},SYSDATE)
</insert>






</mapper>